:root {
  --primary-color: #C9A45D;
  --secondary-color: #202020;
}


@font-face {
  font-family: inter;
  src: url('./Assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
  font-family: outfit;
  src: url(./Assets/fonts/Outfit-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
}

.top-section {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  z-index: -1;
}

.service {
  background-image: url(./Assets/images/service.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: left;
}

.home {
  background-image: url(./Assets/images/main-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-sections {
  position: relative;

}

.nav-links {
  color: #fff !important;
  position: relative;
  margin: 0px 20px;
  font-size: 16px !important;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.nav-links::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: 0;
  transition: 1s ease-in-out;
}

.nav-links:hover::after {
  width: 100%;

}

.active.nav-links::after {
  width: 100%;
}

.navbar-top {
  z-index: 10;
}

.active-link {
  border-bottom: 2px solid #fff !important;
  color: red;
  font-weight: 600;
}



section {
  margin-bottom: 80px;
}

.section-title {
  position: relative;
  font-size: 50px;
  color: #1E1E1E;
  width: fit-content;
  font-weight: 400;
}

.second-hero-section {
  width: 100%;
  z-index: 1;
  position: relative;
  top: 100px;
}

.second-hero-section img {
  width: 100%;
  height: auto;
}

.contact-button {
  background-color: var(--primary-color);
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 15px;
}

.center-text {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.center-text h1 {
  font-size: 120px;
  font-weight: 400;
}

.torque-Text {

  color: #fff;
  -webkit-text-stroke: 2px #000000;
  position: relative;
  margin-top: 200px;
  margin-bottom: 50px;
}

.torque-Text h2 {
  font-size: 90px;
}

.count-num {
  color: var(--primary-color);
  font-size: 80px;
  font-weight: 400;
}

.count-text {
  font-size: 24px;
}

.counter-con {
  text-align: center;
}

.card-img {
  width: 100%;
  height: 400px;
  /* background-color: #000000; */
  position: relative;

}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 20px;


}

.card-text {
  color: #fff;
  font-size: 20px;
  position: absolute;
  bottom: 2px;
  left: 2px;
  padding: 20px;
}

.slider-top-con {
  padding: 80px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-top-con h2 {
  font-size: 70px;
}

.arrow-button button {
  padding: 10px 20px;
  margin: 0px 10px;
  border: 1px solid;
  outline: none;
}

.arrow-button button:hover {
  color: #fff;
  background: var(--primary-color);
  border: 1px solid #fff;
}

.r-arrow {
  color: #fff;
  background: var(--primary-color);
  border: 1px solid #fff;
}

.arcitech-text {
  position: relative;
  font-size: 60px;
  color: #1E1E1E;
  width: fit-content;
  margin: 50px 0px;
  font-weight: 400;
}

.arcitech-text::after {
  position: absolute;
  content: '';
  top: 0;
  left: 20px;
  width: 30%;
  height: 2px;
  background-color: #000000;
}

.why-us {
  border-bottom: 1px solid #1E1E1E;
}

.banner-section {
  background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(./Assets/images/sec-banner.png);
  width: 100%;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px;
}

.banner-center-text {
  color: #fff;
  text-align: center;
}

.banner-center-text h6 {
  font-weight: 400;
  font-size: 32px;
  padding-bottom: 30px;
}

.banner-center-text p {
  font-size: 24px;
}

.accordion {
  width: 100%;
  max-width: 470px;
}

.panel {
  background-color: #f0ebe1;
}

.panel__label {
  position: relative;
  display: block;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 25px 60px 25px 25px;
  font-weight: 500;
  font-size: 17px;
  font-family: inherit;
  transition: color 0.2s linear;
  cursor: pointer;
}

.panel__label:focus {
  outline: none;
}

.panel__label:after,
.panel__label:before {
  content: '';
  position: absolute;
  right: 25px;
  top: 50%;
  width: 22px;
  height: 2px;
  margin-top: -2px;
  background-color: #372717;
}

.panel__label:before {
  transform: rotate(-90deg);
  transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.panel[aria-expanded='true'] .panel__content {
  opacity: 1;
}

.panel[aria-expanded='true'] .panel__label {
  color: #957029;
}

.panel[aria-expanded='true'] .panel__label:before {
  transform: rotate(0deg);
}

.panel__inner {
  overflow: hidden;
  will-change: height;
  transition: height 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.panel__content {
  margin: 5px 25px 25px;
  font-size: 14px;
  color: #756658;
  opacity: 0;
  transition: opacity 0.3s linear 0.18s;
}

.panel:not(:last-child) {
  margin-bottom: 3px;
}

.card-size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1080px;
  position: relative;
  background: none;
  outline: none;
  border: none;
}

.cards {
  width: 1080px;
  background: none;
  outline: none;
  border: none;
  margin: 20px 0px;
  border-top: 1px solid #1E1E1E;
  padding: 30px 0px;
}

.toggleIcon {
  position: absolute;
  right: 20px;
  font-size: 30px;
  color: var(--primary-color);
}

.toggle-title {
  font-size: 30px;
}

.list-accordion {
  background-color: transparent;
  outline: none;
}

.numb {
  color: var(--primary-color);
}

.projects-title {
  width: fit-content;
  position: relative;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 4px;
}

.projects-title::after {
  position: absolute;
  content: '';
  width: 50%;
  height: 2px;
  background-color: #1E1E1E;
  bottom: 0;
  left: 0;
}

.project-section {
  border-top: 1px solid #1E1E1E;
  padding-top: 70px;
}

.chg {
  border-bottom: 1px solid #1E1E1E;
  padding-bottom: 10px;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.main-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

footer {
  height: 120vh;
  width: 100%;
  background-color: #1E1E1E;
}

.center-footer-text {
  font-size: 70px;
  font-weight: 500;
  text-align: center;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);

}

.small-color {
  color: #ACACAC;
}

.li-small {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

footer ul li {
  padding: 0px 20px;
}

.bottom-li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.bottom-li p {
  padding: 0px 20px;
  font-size: 14px;
}

/* =======services ========== */

.service-main-text {
  color: #fff;
  font-family: outfit;
}

.service-main-text h2 {
  font-size: 80px;
  padding: 0;
  margin: 0;
}

.sec-p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.1in;
}

.service-second {
  background-color: #fff;
  height: auto;
  padding: 100px 0px;
}

.service-sec-title h2 {
  font-size: 50px;
  font-family: outfit;
  color: #090B19;
}

.box-service {
  width: 90%;
  height: 300px;
  border: 1px solid #B6B6B6;
  padding: 10px;
  margin: 0 auto;
}

.box-circle-img {
  background-color: #C9A45D;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.box-service h3 {
  font-weight: 700;
  font-size: 24px;
}

.box-service p {
  color: #6E7488;
  font-family: outfit;
  font-size: 16px;
}

.services-third-sec {
  background-image: url(./Assets/images/service-thurd-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: left;
  color: #fff;

}
.third-bg-text{
font-size: 40px;
font-family: outfit;
margin-bottom: 70px;
margin-top: 20px;
}
.testimonial{
  background-color: #E6F0F4;
  padding: 60px 0px;
}

.testi-box-con{
  width: 60%;
  margin: 0 auto;
}
.testi-content{
  background-color: #fff;
  border-radius: 15px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  
}
.quote-mark{
  font-size: 50px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  position: relative;
  top: -30px;
}
.fourth-sec-title{
  font-family: outfit;
  font-size: 40px;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 20px;
}

.fourth-img{
  margin-top: 20px;
}
@media screen and (max-width:768px) {
  .center-text h1 {
    font-size: 50px;
  }

  .center-text {
    height: 100vh;
  }

  .top-hero-section {
    height: 100vh;
  }

  .torque-Text h2 {
    font-size: 60px;
  }

  .slider-top-con h2 {
    font-size: 25px;
  }

  .arcitech-text {
    font-size: 30px;
  }

  .section-title {
    font-size: 30px;
  }

  .card-size {
    width: 100%;
  }

  .cards {
    width: 100%;
  }

  .toggle-title {
    font-size: 20px;
  }

  .toggleIcon {
    right: 0;
  }

  .mob-img {
    margin-top: 20px;
  }

  .check-mob {
    flex-direction: column;
  }

  video {
    height: 50vh;
  }

  .center-footer-text {
    font-size: 50px;
    height: 50vh;
  }

  footer {
    height: 80vh;
  }

  footer ul li {
    white-space: none;
  }

  .service-main-text h2{
    font-size: 40px;
  }
  .service-sec-title h2{
    font-size: 40px;
  }
 
  
  .service-main-text p .service-sec-title p{
    font-size: 16px;
  }

  .testi-box-con{
    width: 95%;
  }
  .fourth-sec-title{
    font-size: 30px;
  }
  #basic-navbar-nav{
    background-color: rgb(0, 0, 0, 0.7);
    padding: 10px;
  }
  .nav-links{
    width: fit-content;
    margin-bottom: 20px;
  }
}